@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,500,600,700|Poppins:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");

.body {
  padding: 0;
  margin: 0;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

}


.container {
  width: 100%;
  
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rows {
 
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------------*/
/* CONTACT ME                               */
/*---------------------------------------------------------*/
.contactme {
  background-color: #f9f9f9;
}

.contactOverlay {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.form button {
  width: 190px;
  height: 55px;
  border: 0;
  border-radius: 5px;
  background-color:#b52c31;
  color: #fff;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
 font-weight: bold;
  margin-top: 10%;
  cursor: pointer;
  font-size: calc(1em + .4vw);
}

.form button:hover {
  background: linear-gradient(90deg, #485462,#b52c31 ,#ffe1df);
  border:2px solid #b52c31;
  font-family:system-ui;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.contForm {

  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 20px;
}


.formWord {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 4%;
}

.formWords {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  padding: 4%;
  font-size: calc(1em + .4vw);
}

@media (max-width: 1000px) {
  .contForm {
    flex-direction: column;
  }

  .formWord,
  .formWords {
    width: 80%;
    margin: auto;

  }
}

.h2 {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  padding: 0 20px;
  background: #ccc;
  background: linear-gradient(90deg,#b52c31,#e3547c );
  font-family:system-ui;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.h2::after{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color:  #ff6ef8 ;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all .5s ease-in-out;
}
.h2:hover::after {
  width: 100%;
  left: 0;
}

.formWord span {
  font-size: calc(1em + 0.3vw);
}

.formWord input {
  width: 100%;
  min-height: 55px;
  font-size: 20px;

  border: 0;
  margin-top: 3%;
  padding-left: 3%;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  border: 2px solid #cccccc;
}

.formWord .textarea {
  min-height: 55px;
  font-size: 20px;
  width: 100%;
  height: 150px;
  border: 0;
  margin-top: 5%;
  color: black;
  -webkit-box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  box-shadow: 0px 0px 48px 0px rgb(218, 218, 218);
  padding-left: 3%;
  border: 2px solid #cccccc;
  overflow: clip;
}

.parrafito {

  text-align: center;
  margin-top: 15%;
  margin-bottom: 0;
}